table{
    margin: 10px 10px;
    border: 1px solid;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px;
    background-color:aliceblue;
    cursor: pointer;
  }
  
  th {
    cursor: pointer;
    background-color: antiquewhite;
    font-size: 24px;
  }
  
  colgroup {
    width: 250px;
  }
  
  .center {
    margin-left: auto;
    margin-right: auto;
  }

  .table-parent {
    display: flex;
    align-items: center;
    justify-content: center;
  }